<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<connectionStrings>
		<add name="ConnectionString" connectionString="Server=EDWARDIAKAB69AD;Database=HerbShop;Trusted_Connection=true"/>
	</connectionStrings>
	<appSettings>
		<!--
			<add key="Database" value="HerbShop"/>
		<add key="ParentTableName" value="Customers"/>
		<add key="ChildTableName" value="Orders"/>
		<add key="ParentSelectQuery" value="SELECT * FROM Customers"/>
		<add key="ChildSelectQuery" value="SELECT * FROM Orders"/>
		<add key="ParentReferencedKey" value="cID"/>
		<add key="ChildForeignKey" value="cID"/>
		<add key="ParentSelectionQuery" value="SELECT * FROM Orders WHERE cID = {0}"/>
		-->

		<add key="Database" value="HerbShop"/>
		<add key="ParentTableName" value="Types"/>
		<add key="ChildTableName" value="Products"/>
		<add key="ParentSelectQuery" value="SELECT * FROM Types"/>
		<add key="ChildSelectQuery" value="SELECT * FROM Products"/>
		<add key="ParentReferencedKey" value="tID"/>
		<add key="ChildForeignKey" value="tID"/>
		<add key="ParentSelectionQuery" value="SELECT * FROM Products WHERE tID = {0}"/>

		<!--
		<add key="Database" value="HerbShop"/>
		<add key="ParentTableName" value="Types"/>
		<add key="ChildTableName" value="Products"/>
		<add key="ParentSelectQuery" value="SELECT * FROM Types"/>
		<add key="ChildSelectQuery" value="SELECT * FROM Products"/>
		<add key="ParentReferencedKey" value="tID"/>
		<add key="ChildForeignKey" value="tID"/>
		<add key="ParentSelectionQuery" value="SELECT * FROM Products WHERE tID = {0}"/>
		-->
	</appSettings>
</configuration>